@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-monsterrat{
    font-family: 'Montserrat', sans-serif;
}

.sidebar{
    max-height: 949px;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}


